fastapi
uvicorn
pydantic-settings
python-dotenv
langchain
langchain_openai
langchain_community
langchain_google_genai
rank_bm25
redis
termcolor
google-api-core
tiktoken
pre-commit
sqlalchemy
greenlet
asyncpg
pgvector
alembic
rich
PyYAML
locust